<div class="container">
  <!-- NAVIGATION MENU -->
  <div class="navigationBar">
    <p class="name">Samuel Ndambuki</p>
    <div class="navBarContents">
      <p class="home">Home</p>
      <p class="aboutMe">About me</p>
      <p class="experience">Experience</p>
      <p class="works">Works</p>
      <p class="information">Information</p>
      <p class="phoneNumber">0797334258</p>
    </div>
  </div>
  <!-- END OF NAVIGATION MENU -->

  <!-- CONTAINER 1 -->
  <div class="samuelNdambuki">
    <div class="nameEmail">
      <p class="heyThere">Hey There,</p>
      <p class="samNdambuki">I'm Samuel Ndambuki</p>

      <p class="email">samuelndambuki401@gmail.com</p>
    </div>
    <div class="samImage">
      <img src="assets/sam.jpg" />
    </div>
    <div class="design">
      <p class="designBeautifully">I design beautifully simple</p>
      <p class="things">things and I love what I do</p>
    </div>
  </div>
  <!-- END OF CONTAINER 1 -->

  <!-- START OF CONTAINER 2  -->
  <div class="container2">
    <div class="leftContainer">
      <div class="figma">
        <p>Web design using figma</p>
      </div>
      <div class="frontend">
        <p>Frontend Development</p>
        <p>html css angular typescript</p>
      </div>
      <div class="backend">
        <p>Backend Web Development</p>
        <p>node.js express typescript mysql</p>
      </div>
    </div>

    <div class="rightContainer">
      <div class="container2AboutMe">
        <p id="txtAbout">About Me</p>
        <p id="aboutMeContents">
          I'm Samuel Ndambuki, a skilled software engineer proficient in HTML,
          CSS, Angular, Node.js, Express, JavaScript, TypeScript, and MySQL.
          With a passion for building elegant, user-centric web applications, I
          excel in both frontend and backend development.I thrive on solving
          complex challenges, collaborating with teams, and staying updated with
          industry trends. Let's work together to create exceptional web
          solutions.
        </p>
      </div>
    </div>
  </div>

  <!-- END OF CONTAINER 2 -->

  <!-- START OF CONTAINER 3 -->
  <div class="container3">
    <p class="myWrkExp">My Work Experience</p>

    <!-- Jitu -->
    <div class="jitu">
      <div class="theJitu">
        <p id="txtJitu">TheJitu Company | Nyeri</p>
        <p id="timelines">April 2023 - June 2023</p>
      </div>
      <div class="jituIntern">
        <p id="txtJituIntern">Software Engineering Intern</p>
        <p id="descriptions">
          I went through an intense 3 months training where I learnt web
          development. I worked on several projects there. The technologies I
          used there include : HTML, CSS, JavaScript, Typescript, Data
          structures and Algorithms, Nodejs/Expressjs, Angular, Redux, MySQL,
          Docker, AWS, Jest, Cypress, Team project, project Management and
          documentation, soft skills consisting of communication skills and time
          management. I worked on a clone of stack overflow for the final
          project.
        </p>
      </div>
    </div>

    <!-- CDED -->
    <div class="CDED">
      <div class="centerDED">
        <p id="txtCDED">Center For Development Of Electronic Devices | Dekut</p>
        <p id="timelines">January 2022 - April 2022</p>
      </div>
      <div class="CDEDIntern">
        <p id="txtCDEDIntern">Software Engineering Intern</p>
        <p id="descriptions">
          This is where I did my attachment after my third year of study. I used
          .NET framework for backend web developmen and React js for frontend
          web development. I also worked with containerisation using docker. I
          worked on clocking control project which was to monitor the time staff
          entered and left the university. I was also responsible for
          maintaining the server for the organization.
        </p>
      </div>
    </div>

    <!-- MSA -->
    <div class="msa">
      <div class="msAmbsssador">
        <p id="txtMsa">Microsoft Student Ambassador</p>
        <p id="timelines">May 2020 - April 2023</p>
      </div>
      <div class="msaLead">
        <p id="txtMsaLead">Microsoft Student Ambassador Club Lead</p>
        <p id="descriptions">
          I was part of the Microsoft Student Ambassador Community here in our
          school. This is a tech community which exposes you to various
          technologies in the industry. I was exposed to C#, Azure, A.I, M.L,
          Android and web development.
        </p>
      </div>
    </div>

    <!-- adc -->
    <div class="adc">
      <div class="msADC">
        <p id="txtADC">Microsoft Africa Development Center</p>
        <p id="timelines">January 2022 - March 2022</p>
      </div>
      <div class="golCaptain">
        <p id="txtGol">Game Of Learners Season 3 Captain</p>
        <p id="descriptions">
          The Game Of Learners Season 3 is a hackathon organized by Microsoft. I
          participated in it and we emerged 3rd position.I acquired various
          skills some of which include leadership skills. I also acted as the
          backend developer for my team. We used C# for the backend and ReactJs
          for the frontend.We worked on a project which was to help reduce
          effects of climate change.
        </p>
      </div>
    </div>
  </div>
  <!-- END OF CONTAINER 3 -->

  <!-- START OF CONTAINER 4 -->
  <div class="container4">
    <div class="latestWorks">
      <p class="myLatestWorks">My latest works</p>
      <div class="titles">
        <p id="perfectSolution">Perfect solution for digital experience</p>
        <p id="exploreWorks">explore more works</p>
      </div>

      <div class="projects">
        <div class="project1">
          <p>Food delivery app</p>
        </div>
        <div class="project2">
          <p>Agency website</p>
        </div>
        <div class="project3">
          <p>Stack Overflow clone</p>
        </div>
      </div>
    </div>
  </div>
</div>
