<div class="container">
  <!-- NAVIGATION MENU -->
  <div class="navigationBar">
    <p class="name">Samuel Ndambuki</p>
    <div class="navBarContents">
      <p class="home">Home</p>
      <p class="aboutMe">About me</p>
      <p class="experience">Experience</p>
      <p class="works">Works</p>
      <p class="information">Information</p>
      <p class="phoneNumber">0797334258</p>
    </div>
  </div>
  <!-- END OF NAVIGATION MENU -->

  <!-- CONTAINER 1 -->
  <div class="samuelNdambuki">
    <div class="nameEmail">
      <p class="heyThere">Hey There,</p>
      <p class="samNdambuki">I'm Samuel Ndambuki</p>

      <p class="email">samuelndambuki401@gmail.com</p>
    </div>
    <div class="samImage">
      <img src="assets/sam.jpg" />
    </div>
    <div class="design">
      <p class="designBeautifully">I design beautifully simple</p>
      <p class="things">things and I love what I do</p>
    </div>
  </div>
  <!-- END OF CONTAINER 1 -->
</div>
