/* START OF STYLING FOR THE NAVIGATION BAR */

.navigationBar {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f8f7f2;
  gap: 5rem;
  cursor: pointer;
  padding: 5px;
  border-bottom: 1px solid #d9d9d9;
}

.name {
  color: #234250;
}

.navBarContents {
  display: flex;
  gap: 10rem;
}

.aboutMe,
.experience,
.works,
.information,
.phoneNumber {
  color: #798385;
}

.home,
.aboutMe,
.experience,
.works,
.information,
.phoneNumber {
  padding: 5px;
}

.home,
.aboutMe,
.experience,
.works,
.information,
.phoneNumber {
  color: #798385;
  border: 1px solid transparent;
  border-radius: 10px;
  transition: border-color 0.3s, color 0.3s;
}

.home:hover {
  color: #548c88;
  border-color: #548c88;
  cursor: pointer;
  background-color: #f8f7f2;
}

.aboutMe:hover {
  color: #548c88;
  border-color: #548c88;
  cursor: pointer;
  background-color: #f8f7f2;
}

.experience:hover {
  color: #548c88;
  border-color: #548c88;
  cursor: pointer;
  background-color: #f8f7f2;
}

.works:hover {
  color: #548c88;
  border-color: #548c88;
  cursor: pointer;
  background-color: #f8f7f2;
}

.information:hover {
  color: #548c88;
  border-color: #548c88;
  cursor: pointer;
  background-color: #f8f7f2;
}

.phoneNumber:hover {
  color: #548c88;
  border-color: #548c88;
  cursor: pointer;
  background-color: #f8f7f2;
}

/* END OF STYLING FOR THE NAVIGATION BAR */

/* START OF STYLING FOR CONTAINER 1 */
.samuelNdambuki {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 20px;
  gap: 25rem;
  background-color: #f8f7f2;
}

.heyThere {
  color: #0d2f3f;
  font-weight: bold;
  font-size: 2.5rem;
  cursor: pointer;
}

.samNdambuki {
  color: #0d2f3f;
  font-weight: bold;
  font-size: 2rem;
  cursor: pointer;
}

.email {
  color: #f26a47;
  text-decoration: underline;
  cursor: pointer;
}

.design {
  flex-wrap: wrap;
}

.designBeautifully {
  color: #3b4b51;
  font-size: 1.5rem;
  cursor: pointer;
}

.things {
  color: #3b4b51;
  font-size: 1.5rem;
  cursor: pointer;
}

.samImage {
  margin-top: 10rem;
  /* Make the image round */
  border-radius: 50%; 
  /* Ensure the image takes up the entire container */
  overflow: hidden; 
  width: 200px; 
  height: 200px; 
  cursor: pointer;
}

.samImage img {
  /* Ensure the image takes up the entire container */
  width: 100%; 
  height: 100%;
   /* Maintain aspect ratio and cover the container */
  object-fit: cover;
}

/* END OF STYLING FOR CONTAINER 1 */

/* START OF STYLING FOR CONTAINER 2 */
.container2 {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 1rem;
  gap: 30rem;
  cursor: pointer;
}


.leftContainer{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;  
  width: 40%;
}

.figma,
.frontend,
.backend {
  color: #548c88;
  border: 1px solid #f2f2f2;
  padding: 5px 80px 5px 60px;
  transition: all 0.3s;
}

.figma:hover,
.frontend:hover,
.backend:hover {
  color: #fff; 
  background-color: #548c88;
  border-color: #548c88; 
}

.rightContainer{
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  width: 60%;
}

.container2AboutMe{
  width: 50%;
}

#txtAbout {
  color: #0D2F3F;
  font-size: 2.5rem;
  /*  smooth transitions for color and font-size changes */
  transition: color 0.3s, font-size 0.3s; 
}

#aboutMeContents {
  color: #56656A;
  /* Add a smooth transition for color changes */
  transition: color 0.3s; 
}

#txtAbout:hover {
   /* Change text color on hover */
  color: #548c88;
  /* Increase font size on hover */
  font-size: 2.7rem; 
}

#aboutMeContents:hover {
  /* Change text color on hover */
  color: #548c88; 
}

/* END OF STYLING FOR CONTAINER 2 */


/* START OF STYLING FOR CONTAINER 3 */
.container3{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #F8F7F1;
  margin-top: 2rem;
  cursor: pointer;
}

.myWrkExp{
  color: #0D2F3F;
  font-size: 2.3rem;
  transition: color 0.3s, font-size 0.3s;
}

.myWrkExp:hover{
  color: #548c88;
  font-size: 2.5rem;
}


.jitu,.CDED,.msa,.adc{
  display: flex;
  justify-content: center;
  align-items: center;
}

.theJitu,.centerDED,.msAmbsssador,.msADC{
  width: 50%;
}

.jituIntern,.jituIntern,.CDEDIntern,.msaLead,.golCaptain{
  width: 40%;
}

#txtADC,#txtGol,#txtMsa,#txtMsaLead,#txtJitu,#txtJituIntern,#txtCDED,#txtCDEDIntern{
  color: #0D2F3F;
  font-size: 1.3rem;
  transition: color 0.3s, font-size 0.3s;;
}

#timelines{
  color: #394A50;
}

#descriptions{
  color: #435358;
}

/* Add hover effects for text color and font-size */
#txtADC:hover,
#txtGol:hover,
#txtMsa:hover,
#txtMsaLead:hover,
#txtJitu:hover,
#txtJituIntern:hover,
#txtCDED:hover,
#txtCDEDIntern:hover {
  color: #548c88; 
  font-size: 1.4rem; 
}

/* END OF STYLING FOR CONTAINER 3 */